<a href="https://colab.research.google.com/github/Yogeshv01/Python_Basics/blob/main/Assignment_Percentage_Cutoff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
import pandas as pd
import pandas as pd
from datetime import date
from datetime import datetime
from datetime import datetime, time

In [93]:
tdy = date.today()
tdy

datetime.date(2022, 5, 28)

In [94]:
data = pd.read_csv ('/content/drive/MyDrive/Rajesh_Class/Files/Percentage_cutoff_assig.csv')
data

   coustomer_ID     Brand_Name      Date  Brand count
0             1         adidas  1/1/2021            3
1             1           polo  1/1/2021            1
2             2          levis  2/1/2021            2
3             2  tomyhilfigure  2/1/2021            1
4             2           nike  3/1/2021            4
5             2           puma  3/1/2021            4

# Convert date into datetime format

In [95]:
data['Date'] = pd.to_datetime(data.Date)
data

   coustomer_ID     Brand_Name       Date  Brand count
0             1         adidas 2021-01-01            3
1             1           polo 2021-01-01            1
2             2          levis 2021-02-01            2
3             2  tomyhilfigure 2021-02-01            1
4             2           nike 2021-03-01            4
5             2           puma 2021-03-01            4

In [96]:
data1= data.groupby(['coustomer_ID', 'Date']).agg(max_brand_count=('Brand count', 'max'),total_brand_count=('Brand count', 'sum')).reset_index()
data1

   coustomer_ID       Date  max_brand_count  total_brand_count
0             1 2021-01-01                3                  4
1             2 2021-02-01                2                  3
2             2 2021-03-01                4                  8

In [98]:
data= data.groupby(['coustomer_ID', 'Date']).agg({"Brand count":['max','sum']},axis=1,inplace=True).reset_index()
print(data)

  coustomer_ID       Date Brand count
                                  max sum
0            1 2021-01-01           3   4
1            2 2021-02-01           2   3
2            2 2021-03-01           4   8

In [97]:
data1['Percentage cutoff of Brand']= data1['max_brand_count']/data1['total_brand_count']
data1

,coustomer_ID,Date,max_brand_count,total_brand_count,Percentage cutoff of Brand
0,1,2021-01-01,3,4,0.750000
1,2,2021-02-01,2,3,0.666667
2,2,2021-03-01,4,8,0.500000